*{
    margin: 0;
    padding: 0;
}

.banner{
    height: 100vh;
    background-image: url(../../images/Gradient-background.png);
    background-size: cover;
    display: flex;
    align-items:end;
}
.banner-content{
    width: 600px;
    text-align: left;
    padding: 30px;
}
.banner-content>h2{
    font-size: 48px;
    font-weight: 700;
    color: #0B2F9F;

}
.banner-content>p{
    padding: 10px;
    font-size: 20px;
}
.banner-content>button{
    padding: 20px 24px;
    background: linear-gradient(90deg, #2918A0 0%, #A56AFC 100%);
    border: none;
    border-radius: 10px;
}
.banner-img>img{
    width: 650px;
}
.banner-last{
    height: 20vh;
    display: flex;
    align-items: center;
}
.offers{
    position: relative;
}
.offers::before{
    content: url(../../images/down-arrow.png);
    position: absolute;
    right: 10px;
    top: -50px;
}
.offers::after{
    content: url(../../images//uparrow.png);
    position: absolute;
    left: -10px;
    bottom: -50px;
}
.offer-box{
    margin: 4rem 5rem;
    
}
.cole{
    display: flex !important;
    justify-content: start !important;
    align-items: end;
    height: 500px;
}
.cole1{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    height: 400px;
}
.offer-boxx{
    padding: 80px 40px;
    width: 444px;
    background-color: #0B2F9F1A;
    border-radius: 10px;
    transition: 0.5s all;
}
.offer-boxx>h3{
    font-size: 24px;
    font-weight: 700;
}
.offer-boxx:hover {
    background-color: #0B2F9F;
    color: #fff;
}
.offer-img{
    transform: scale(1);
    padding: 24px;
    transition: 0.5s all;

}
.offer-boxx:hover .offer-img{
    transform: scale(1.5);
}
.offer-boxx>p{
    text-align: justify;
}

@media (min-width:1300px) {
    .Banner{
        height: 130vh;
    }
    .banner{
        height: 110vh;
        align-items:center;
    }
}
@media (max-width:450px) {
    .banner{
        height: 100vh;
    }
    .banner-content{
        text-align: center;
        width:90%;
    }
    .banner-content>h2{
        font-size: 32px;
        
    }
    .banner-content>p{
        font-size: 12px;
    }
    .banner-img>img{
        width: 50%;
    }
    .banner-col{
        display: flex;
        justify-content: center;
    }
}